# Chapter 04 엑셀 기본 함수 구현하기

## 4.1 파이썬으로 엑셀 파일 다루기

### 파이썬 패키지 설치 확인하기

In [ ]:
# 설치된 패키지 학인하기

In [ ]:
# pandas 설치하기

In [15]:
# pandas 패키지를 pd라는 별명으로 불러오기

### 데이터 프레임 생성하기

In [1]:
# 모듈 불러오기

# 딕셔너리 유형으로 data를 만든 후 데이터 프레임 생성하기
data = {"이름" : ["홍길동", "이순신", "강감찬", "임꺽정", "이성계"],
        "출생년도" : [1980, 1986, 1990, 1985, 1988],
        "점수" : [1.5, 1.7, 3.6, 2.4, 2.9]}

In [2]:
# df의 열 이름 변경하기 : "출생년도" 를 "출생" 으로

### 열과 행 데이터 가져오기

In [3]:
# df의 열 데이터 가져오기

In [4]:
# [이름] 열의 데이터만 선택

In [5]:
# df의 행 데이터 가져오기

### loc[ ] 과 iloc[ ] 으로 행 데이터 가져오기

In [6]:
# df에서 [이름]과 [출생] 열의 0행과 1행을 가져오기

### 열 추가 및 삭제하기

In [8]:
# [보너스] 열 추가

In [69]:
# [지역] 열 데이터 추가

ValueError: Length of values (5) does not match length of index (6)

In [9]:
# 보너스 열 삭제

### 행 추가 및 삭제

In [10]:
# 인덱스가 5인 행을 추가

In [11]:
# 4행 1열의 데이터를 1999로 변경

# 5행을 삭제

In [12]:
# 원래의 데이터 보존을 위해 df를 df1로 복사

# df1[“점수”] <= 2.0인 행의 인덱스를 id에 저장 [0, 1]

# id에 저장된 인덱스로 행 삭제

### 엑셀 파일 읽고 쓰기
pandas는 다양한 형태의 파일들을 행과 열로 구성된 테이블 형태로 불러올 수 있는 함수 제공

파일명에 경로 입력시 백슬래시(\\)를 escape 코드로 인식해 경로명을 제대로 인식하지 못하는 경우가 있음  
이때는 경로 문자열 앞에 **r** 을 붙이면 해결됨    
\ 대신 **/** 를 이용하면 문제 없음

#### 4장 작업을 위해 디렉토리 만들기

! dir					# 현재 폴더의 모든 내용을 보여줌 ! 붙음
mkdir chapter04		    # 현재 폴더가 프로그램 저장 root 폴더라면 그 아래에 chapter04 폴더 만들기
cd chapter04			# chapter04 폴더로 이동. Change Directory
cd ..					# 상위 폴더로 이동
rmdir chapter04		    # 하위에 있는 chapter04 폴더 삭제
pwd					    # 현재 폴더 경로 정보

In [ ]:
# 현재 폴더의 모든 내용 보기

In [84]:
# 데이터 프레임 변수인 df를 chapter04 디렉토리에 “명단.xlsx”로 저장하기

In [13]:
# chapter04 디렉토리의 “명단.xlsx” 파일을 불러와 df12에 저장하기

# 첫 번째 열을 인덱스로 지정

## 4.2 텍스트 함수

In [14]:
import pandas as pd     

# 텍스트 함수 실습을 위한 "직원정보.xlsx" 파일을 불러와 데이터 프레임 info에 저장하기

### 여러 셀의 문자 합치기

In [15]:
# chapter04/직원 정보.xlsx 파일의 "Sheet1" 읽어오기

# 데이터 프레임 열 연산

# 열 방향으로 각 행을 결합

# 데이터 프레임 info 출력

### 몇 개의 문자만 추출하기

In [16]:

# 사원번호 앞에서 4자리 추출

# 전화번호 뒤에서 4자리 추출

In [18]:
# split(“ “) 을 통해 공백을 분리하고, str[1] 으로 첫번째 문자열을 [구] 열로 생성
# 원본 자료의 "주소"열의 첫 클자가 공백으로 시작하기 때문

info[["성", "이름", "전화번호", "구"]]

### 영문 대소문자 바꾸기

In [ ]:
info = pd.read_excel(r"chapter04/직원 정보.xlsx", sheet_name = "Sheet1")
# [영문명] 열을 대문자로 변환

# [영문명] 열의 첫 글자만 대문자로 변환

info[["순번", "성", "이름", "영문명", "전화번호", "대문자", "첫 글자"]]

In [83]:
str.swapcase("ABcde")

'abCDE'

In [ ]:
info = pd.read_excel(r"chapter04/직원 정보.xlsx", sheet_name = "Sheet1")
# “영문명＂을 모두 대문자로

# 대문자로 바뀐 ＂대문자＂를 모두 소문자로

info

### 특정 문자 바꾸기

In [ ]:
info = pd.read_excel(r"chapter04/직원 정보.xlsx", sheet_name = "Sheet1")
# 첫 번째 하이픈(-) 제거 

# 모든 하이픈 (-)을 공백으로 대체

info[["순번", "성", "이름", "전화번호", "phone", "phone1"]]

### 문자열 길이 구하기

In [ ]:
info = pd.read_excel(r"chapter04/직원 정보.xlsx", sheet_name = "Sheet1")
# [주소] 열의 문자열 길이 반환  

info[["순번", "성", "이름", "주소", "주소 길이" ]].head()			# head() : 상위 5행만 출력

### 문자열 공백 삭제하기

In [ ]:
info = pd.read_excel(r"chapter04/직원 정보.xlsx", sheet_name = "Sheet1")
# [주소] 열의 길이 구하기

# [주소] 열의 문자열 앞뒤 공백 제거

# 공백 제거 문자열의 길이 구하기

info[["순번", "주소", "주소 길이", "공백 제거", "공백 제거 후 길이"]].tail(6)		# 뒤에서 6행 출력

## 4.3 수학 및 통계 함수

### 실습 데이터 불러오기

In [ ]:
# pandas를 pd라는 이름으로 불러오기
import pandas as pd     

# 수학 및 통계 함수 실습을 위해 "성적 처리.xlsx" 파일을 불러와 score 변수에 저장하기

score

### 데이터 합계 구하기

In [ ]:
# 행 방향 [국어] 열의 데이터 합계 구하기

total_korea

In [ ]:
# 2~6(국어~과학)열 각 행의 데이터 합계 구하기

score["sum1"] = score["국어"] + score["영어"] + score["수학"] + score["사회"] + score["과학"]
score.head()

### 데이터 평균 구하기

In [ ]:
score = pd.read_excel(r"chapter04/성적 처리.xlsx", sheet_name = "Sheet1")
# [국어] 열의 행 방향 평균 구하기

korea_avg

In [ ]:
# 2~6열의 열 방향 각 행의 평균 구하기

score["평균1"] = (score["국어"] + score["영어"] + score["수학"] + score["사회"] + score["과학"])/5
score

### 조건에 따른 합계, 평균 구하기

In [ ]:
score = pd.read_excel(r"chapter04/성적 처리.xlsx", sheet_name = "Sheet1")
# [반] 열을 기준으로 그룹화한 후 합계 계산

score1									# score1 출력

In [ ]:
# [반] 열을 기준으로 그룹화한 후 평균 계산

score2										# score2 출력

### 순위 구하기

In [ ]:
score = pd.read_excel(r"chapter04/성적 처리.xlsx", sheet_name = "Sheet1")
# 2~6열의 열 방향 각 행의 평균 구하기

# 동점 시 평균 순위 부여, 오름차순

# 동점 시 평균 순위 부여, 내림차순

# 동점 시 최소 순위

score

In [ ]:
score.sort_values(by = "평균", ascending = False)

### 최대값/최소값 구하기

In [ ]:
score = pd.read_excel(r"chapter04/성적 처리.xlsx", sheet_name = "Sheet1")
# score에서 숫자열만 추출하여 score_row에 저장

# score_row의 행 방향 최소값을 score[“MIN”]에 저장

# score_row의 행 방향 최대값을 score[“MAX”]에 저장

score

In [ ]:
score = pd.read_excel(r"chapter04/성적 처리.xlsx", sheet_name = "Sheet1")
score.describe()				# score 데이터 프레임의 기초 통계량 확인